<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p %d [%t] (%C:%L) - %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
        <param name="File" value="validating-listener.log"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="5"/>
        <param name="MaxFileSize" value="200MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p %d [%t] (%C:%L) - %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
        <!-- Uncomment this if you want output to go to a file -
        <appender-ref ref="FILE"/>
        -->
    </root>

</log4j:configuration>
